div{
    img{
        border-radius: 5px;
        width: 100px;
    }
}
.nomePersonagem{
    font-weight: bold;
}
.containerPersonagem{
    background-color: lightgrey;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    align-content: center;
}